.col-md-12
    h3 Транзакции
    table.table
        tbody
            tr
                if event.id != t.event.id
                    th Пользователь
                else
                    th Событие
                th Дата
                th Коэфициент
                th Цена
                th Тип
            for t in transactions
                tr
                    td
                        if event.id != t.event.id
                            a(href="/events/{{t.event.id}}")=t.event
                        else
                            a(href="/users/{{t.account.id}}")=t.account

                    td=t.date| date:"d.m.Y"
                    td=t.parts
                    td=t.summ
                    td=t.type_view
